<form action='/hometosnoworski', method='POST'>
    <div class="loginBackground">
        <h1 id="welcomeTitle">welcome to</h1>
        <h1 id="gnarniaTitle">gnarnia</h1>
        <h2>sign up</h2>
        <div class="firstName">
            <input type="text" name="firstName" id="firstName" placeholder="first name" value="{{user.firstName}}">
        </div>
        <div class="lastName">
            <input type="text" name="lastName" id="lastName" placeholder="last name" value="{{user.lastName}}">
        </div>
        <div class="email">
            <input type="text" name="email" id="email" placeholder="email" value="{{user.email}}">
        </div>
        <div class="password">
            <input type="text" name="password" id="password" placeholder="password" value="{{user.password}}">
        </div>
        <div class="age">
            <input type="text" name="age" id="age" placeholder="age" value="{{user.password}}">
        </div>
        {{!-- <a href=""><input class="submit-btn" id="submit" type="submit" value="create account"> </a> --}}
        <input type="submit" value="submit">
    </div>
</form>


{{!-- 
 {{#each users}}
 <h1>{{id}}</h1>
 {{/each}} --}}
